@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@300&display=swap");

body {
  text-align: center;
}

img {
  position: relative;
  width: 30%;
}

#test-title-img {
  margin-bottom: -9rem;
  width: 40%;
  z-index: -1;
  opacity: 0.7;
}

article {
  margin: 0.4rem 0;
  padding-bottom: 0.6rem;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

label,
span {
  font-size: 1.2rem;
}

label {
  margin-right: 0.4rem;
}

button {
  font-weight: bold;
  font-family: "East Sea Dokdo", cursive;
  font-size: 3.5rem;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

button:active {
  transform: scale(0.9);
}

#index-img {
    margin-bottom: -10rem;
    position: relative;
    z-index: -1;
}

#index-btn {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-family: "East Sea Dokdo", cursive;
  font-size: 4.5rem;
  margin: 0.8rem 0;
}

.result-img {
  width: 14rem;
  margin-top: 0rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-family: "East Sea Dokdo", cursive;
  font-size: 2.3rem;
  font-weight: lighter;
}

@media (orientation: portrait) {
  img {
    width: 90%;
  }

  #test-title-img {
    width: 100%;
  }

  label {
      font-size: 1.1rem;
  }

  .result-img {
    width: 40%;
  }
}
